
body {
	margin: 0;
	cursor: default;
}

.flip {
	position:absolute;
	bottom: 10px;
	right: 10px;
	width:13px;
	height:13px;
}

#flip {
	opacity:0;
	background: url(file:///System/Library/WidgetResources/ibutton/white_i.png) no-repeat top left;
	z-index:8000;
}

#fliprollie {
	display:none;
	opacity:0.25;
	background: url(file:///System/Library/WidgetResources/ibutton/white_rollie.png) no-repeat top left;
	z-index:7999;

}

.header {
	font: 16px "Lucida Grande";
	font-weight: bold;
	height: 68px;
	width: 100%;
	position: relative;
}

.header_text {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 225px;
	height: 61px;
	text-align: center;
	margin-top: 20px;
}

.header_icon {
	position: absolute;
	top: 3px;
	right: 10px;
	width: 68px;
}

.header_text_2 {
	font: 12px "Lucida Grande";
	font-weight: normal;
	font-style: italic;
}

#back_header {
	color: white;
}

#icon {
	width: 68px;
	height: 68px;
}

#front_body {
	position: relative;
	width: 100%;
	height: 330px;
}

#myScrollArea {
    position: absolute;
    top: 10px;
    bottom: 20px;
    left: 10px;
    right: 30px;
}

#myScrollbar {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    width: 19px;
}

#refresh {
	position: absolute;
    bottom: 5px;
    left: 51px;
    text-align: center;
    height: 15px;
    width: 200px;
}

#refresh:hover {
	position: absolute;
    bottom: 5px;
    left: 51px;
    text-align: center;
    height: 15px;
    width: 200px;
    border: solid 1px black;
}

#front {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 303px;
	height: 403px;
	background: url("Images/AsanaDailyTasksFront.png") no-repeat;
	display: block;
	font: 14px "Lucida Grande";
	font-weight: bold;
} 

#back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 303px;
	height: 403px;
	background: url("Images/AsanaDailyTasksBack.png") no-repeat;
	display: none;
	font: 14px "Lucida Grande";
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
} 

#prefs {
	position: relative;
	top: 110px;
	display: inline;
	height: 70px;
	vertical-align: middle;
	text-align: center;
	color: white;
}

#api_key {
	width: 200px;
	background-color: #4c4c4c;
	border: solid 1px white;
	color: white;
}

#status {
	width: 200px;
	background-color: #4c4c4c;
	border: solid 1px white;
	color: white;
}

#hidden_jsnon {
	display: none;
}

.task {
	position: relative;
	font-weight: normal;
	margin-bottom: 3px;
	border: none;
}

.task:hover {
	position: relative;
	font-weight: normal;
	margin-bottom: 3px;
	border: solid 1px black;	
}

.task_name {
	font: 12px "Lucida Grande";
	font-weight: bold;
}

.task_parent_name {
	font: 10px "Lucida Grande";
	font-style: italic;
}

.task_workspace_project {
}

.task_workspace {
	font: 10px "Lucida Grande";
	text-decoration: underline;
	margin-right: 3px;
}

.task_projects {
	font: 10px "Lucida Grande";
	font-weight: bold;
}

.task_due_on {
	font: 10px "Lucida Grande";
}

.task_id {
	display: none;
}

.task_workspace_id {
	display: none;
}
